SC_HOST=localhost
SC_PORT=5444
SC_USER=postgres
SC_PASSWORD=postgres
SC_DB=dbsc

SCREDIS_HOST=localhost
SCREDIS_PORT=6354

GRPC_HOST=localhost
GRPC_PORT=50054
HTTP_PORT=8184
FRONTEND=http://localhost:5173

GRPC_SEKOLAHURI=localhost:50053

BLOCKCHAIN_TYPE=quorum
RPC_URL=http://localhost:8545

CERRT_PATH=./cert
PEER_Host_OVERRIDE=peer0.org1.example.com
FABRIC_IDENTITY=User1